<% if users.any? %>
   <ul>
    <% users.each do |user| %>
      <li>
        <div>
          <%= user.userid %>
        </div>
        <div>
          <%= link_to 'View tasks',user_path(user) %></p>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>